.mat-card {
    border-bottom: 3px solid green;
    .delta-container {
        .delta {
            font-weight: 600;
            color: green;
        }
    }
    .catagories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}